<% if @room.errors.any? %>
  <div class="alert alert-danger">
    <h4>以下のエラーがあります。</h4>
    <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>施設の新規登録</h2>
<%= form_with model: @room , url: rooms_path , local: true do |f| %>
  <div>
    <%= f.label :施設名 %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :住所 %><br>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :施設紹介 %><br>
    <%= f.text_area :introduction %>
  </div>

  <div>
    <%= f.label :料金 %><br>
    <%= f.text_field :fee %>
  </div>

  <div>
    <%= f.label :画像 %><br>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "登録" %>

<% end %>
